* {
    box-sizing: border-box;
}

.formulario {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: 10px;
}
p{
    background-color: white;
}
img{
    width: "200";
    height: "200";
}
body {
    background-color: black;

}

table {
    
    background-color: white;

}



/* Create three equal columns that floats next to each other */
.tabelaSPC {

    text-decoration: #8f2121;
}

.coluna {
    float: left;
    width: 33%;
    padding: 10px;
    border: 10px;
    image-rendering: auto;
    table-layout: auto;
    align-items: center;
    
    

    /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.linha:after {
    align-items: center;
    content: "";
    display: table-column-group;
    clear: both;
}