* {
    box-sizing: border-box;
}


th.preto{
    background-color: black;
    border: black;
    border-bottom-width: 0px; 
    border-left-width: 0px;
}
.formulario {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: 10px;
}
td.preto{
    background-color: black;
    border-top-width: 0px;
}
pre{
    color: white;
    font-size: 14px;
    width: 50%;
}
img{
    width: "200";
    height: "200";
}
body {
    background-color: black;

}
table{
    background-color: white;
}

table.simulacao {
    background-color: white;
    width: 100%; 
    font-size:14px;
}
th.thCarencia{
    background-color:yellow;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}
th.thPrestacao{
    background-color:rgb(0, 255, 140);
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
}

.coluna {
    float: left;
    width: 33%;
    padding: 10px;
    border: 10px;
    image-rendering: auto;
    table-layout: auto;
    align-items: center;
}


.linha:after {
    align-items: center;
    height: auto;
    content: "";
    display: table-column-group;
    clear: both;
}